.container {
  border-radius: 20px;
  padding: 20px;
  margin: 5px auto;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.img--dog {
  max-width: 60vh;
  height: auto;
  display: block;
  text-align: center;
  margin: 10px auto;
  border-radius: 15px;
  border: solid 3px rebeccapurple;
}

.btn {
  border: 1px aliceblue;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  align-self: center;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn:active {
  transform: scale(1.15) translateY(-5px);
  transition: ease-in;
}

.img--dog:hover {
  transform: scale(1.05) rotateY(180deg);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
